---
type Breadcrumb = {
  label: string
  href?: string
}

const generateBreadcrumbs = () => {
  const breadcrumbs: Breadcrumb[] = [{ label: '~' }, { label: '/' }]
  const { pathname } = Astro.url
  const last = pathname.slice(1)

  if (last) {
    breadcrumbs.push(
      { label: 'sukhanov', href: '/' },
      { label: '/' },
      { label: last }
    )
  } else {
    breadcrumbs.push({ label: 'sukhanov' })
  }

  return breadcrumbs
}
---

<nav class='breadcrumbs'>
  {
    generateBreadcrumbs().map(({ label, href }) => (
      <li class='breadcrumbs__item'>
        {href ? (
          <a class='breadcrumbs__item-link' href={href}>
            {label}
          </a>
        ) : (
          <span class='breadcrumbs__item-label'>{label}</span>
        )}
      </li>
    ))
  }
</nav>

<style>
  .breadcrumbs {
    display: flex;
    list-style: none;
    position: relative;
  }

  .breadcrumbs::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: -14px;
    width: 10px;
    height: 70%;
    background-color: var(--text-inverse-color);
    animation: fadeIn 1.3s infinite;
  }

  .breadcrumbs__item-link {
    color: var(--text-inverse-color);
    text-decoration: none;
  }

  .breadcrumbs__item-link:hover {
    text-decoration: underline;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
