---
import Breadcrumbs from '@components/Breadcrumbs.astro'
import Navaigation from '@components/Navaigation.astro'
const { title } = Astro.props
---

<header class='header'>
  <div class='header__container container'>
    <Breadcrumbs title={title} />
    <Navaigation />
  </div>
</header>

<style>
  .header {
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
