---

---

<ul class='navigation'>
  <li class='navigation__item'>
    <a class='navigation__item-link' href='/'>About</a>
  </li>
  <li class='navigation__item'>
    <a class='navigation__item-link' href='/blog'>Blog</a>
  </li>
</ul>

<style>
  .navigation {
    display: flex;
    list-style: none;
    position: relative;
  }

  .navigation__item {
    margin-right: 1rem;
  }

  .navigation__item-link {
    color: var(--text-inverse-color);
  }

  .navigation__item-link:hover {
    text-decoration: underline;
  }
</style>
